<div class="col-md-3">
  <div class="row">
    <h4>{{user.login}}</h4><br>
  </div>

  <div class="row">
    <img src={{user.avatar_url}} height='100px'/>
  </div>

  <div class="row">
    <a href={{user.html_url}}>Link</a>
  </div>
</div>
